<div th:fragment="indicador01">	
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cargando informacion...</h5>
        <button class="btn btn-danger glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close" onclick="cerrarCarga()"><span aria-hidden="true" ></span></button>
      </div>
      <div class="modal-body">
	<style>
	.modal .custom .modal-dialog {
	background-color:black;
	opacity:0.5;
	    width:50%;
	    margin:0 auto;
	    /*add what you want here*/
	}
	.loader {
  color: black;
 position: fixed;
  width: 12rem;
  margin: auto;
 display: flex;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

	</style>
<script type="text/javascript">
	function verDialogo(){
		$('.modal').show();
		indicadorCarga();
	}
	
	function indicadorCarga(){
	     //Agregando Div carga
                    $('.modal-body').append('<div class=""><div> <div id="close-sidebar"></div></div><div class="loader">Loading...</div></div>');
                    $(window).on('load', function(){
					  setTimeout(removeLoader, 2000); //wait for page load PLUS two seconds.
					});
			}
                 function cerrarCarga(){
                 $( ".loader" ).fadeOut(500, function() {
				 // fadeOut complete. Remove the loading div
				 $('.modal').hide();
				 $( ".loader" ).remove(); //makes page more lightweight 
			});  
                 }
	//Consume Url via Ajax y muestra el Resultado en un Div Especifico		
                  const getData = () => {
                   document.getElementById("myPlaceHolder").innerHTML="";
       fetch('getMoreMessage').then(function (response) {
       	indicadorCarga();
           return response.text();
       }).then(function (html) {
           console.log(html);
           cerrarCarga();
           document.getElementById("myPlaceHolder").innerHTML += html;
       }).catch(function (err) {
       	cerrarCarga();
           console.warn('Something went wrong.', err);
       });
   }
</script>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
</div>