<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:replace="layout/layout :: titulo">Tralingual</title>
</head>
<body class="bg-dark">
	<header style="height: 30px;">
	
	 </header>
	<div class="container-fluid">
			<div class="row m-1">
			</div>		
			<div class="row ">				
				<div class="col-2">
					<div th:replace="layout/layout :: logoempresa" class="col-4">
		
		            </div>
				</div>
			</div>			
				<script type="text/javascript">
					
					$(function() {
						//Mostrar el modal
						$('#verpedido').on('click',function(){
							console.log("Enttro al modal!");
							$('.modal').modal('show');
						});
					});
					
					function exportar(p) {
						var txtname = document.getElementById('csvname').value;
						console.log("Nombre archivo:" + txtname);

						/*<![CDATA[*/
						var url = "[[@{exportarcsv/}]]" + txtname;
						console.log(url);
						window.location.href = url;
						/*]]>*/
					}
				</script>
					<div class="row">
							<div class="col-2" >
							</div  >
							<div class="col-8 bg-white">
								<form th:action="@{/api/extracttext-to-file}" method="post" enctype="multipart/form-data">
									<h4 class="bg-white">Cargar la Imagen:</h4>
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<input type="file" name="file" id="csv" />
									<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon-send"></span> Procesar...
									</button>
	
								</form>
							</div>
					 </div>
					<div class="row">	
							<div class="col-2" >
							</div  >
							<div class="col-8 bg-white">	  
							<a th:href="@{ocrimagentraducir}">	
								<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon-file"></span> Procesar PDF a Txt
									</button>
							</a>
							<a th:href="@{ocrimagentraducir}">	
									<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon-picture"></span> Procesar Imagen a Txt
									</button>
								</a>
								<a th:href="@{pdftoimgtotraductor}">	
									<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon glyphicon-transfer"></span> Procesar PDF Local, Traducir Generar PDF
									</button>
									</a>
								<a th:href="@{pdftoimgtotraductors3}">	
									<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon glyphicon-transfer"></span> Procesar PDF S3, Traducir Generar PDF S3
									</button>
									</a>
									<a th:href="@{pdftoimgtotraductorv2}">	
										<button class="btn btn-primary mb-2">
											<span class="glyphicon glyphicon glyphicon-transfer"></span> Procesar PDF S3, Ajuste al Traducir Generar PDF S3
										</button>
										</a>
							</div>
					</div>
		<footer th:fragment="footer" class="container"> </footer>
	</div>
</body>
</html>