<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:replace="layout/layout :: titulo">Insert title here</title>
</head>
<body class="bg-dark">
	<header style="height: 30px;">
	
	 </header>
	<div class="container-fluid">
			<div class="row m-1">
			</div>		
			<div class="row ">				
				<div class="col-2">
					<div th:replace="layout/layout :: logoempresa" class="col-4">
		
		            </div>
				</div>
			</div>			
				<script type="text/javascript">
					
					$(function() {
						//Mostrar el modal
						$('#verpedido').on('click',function(){
							console.log("Enttro al modal!");
							$('.modal').modal('show');
						});
						
				</script>
					<div class="row">
							<div class="col-2" >
							</div  >
							<div class="col-8">
								<form th:action="@{/api-pdf/process-pdf}" method="post" enctype="multipart/form-data">
									<h4 class="bg-white">Cargar el PDF a procesar:</h4>
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<input type="file" name="file" id="csv" />
									<button class="btn btn-primary mb-2">
										<span class="glyphicon glyphicon-send"></span> Procesar...
									</button>
	
								</form>
							</div>
					 </div>
					<div class="row">	
							<div class="col-2" >
							</div  >
							<div class="col-8">	  
		
							</div>
					</div>
		<footer th:fragment="footer" class="container"> </footer>
	</div>
</body>
</html >